/* html {
  margin: 0px;
  height: 100%;
  width: 100%;
  background: url('/../assets/images/backgroundwp.gif') no-repeat center center
    fixed;
  -webkit-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
}

body {
  margin: 0px;
} */


/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
*/
