<div id="top-bar">
  <a href="https://twitter.com/" id="Twitter" target="_blank"
    ><img src="/../assets/images/1.png" width="64"
  /></a>

  <a [routerLink]="['/test']">
    <a href="" id="Twitter" target="_blank"
      ><img src="/../assets/images/2.png" width="64"
    /></a>
  </a>

  <a [routerLink]="['/']">
    <a href="" id="Twitter" target="_blank"
      ><img src="/../assets/images/3.png" width="64"
    /></a>
  </a>
</div>

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->
